[submodule "vendor/go-tun2socks"]
	path = vendor/go-tun2socks
	url = https://github.com/eycorsican/go-tun2socks.git
[submodule "vendor/hysteria"]
	path = vendor/hysteria
	url = https://github.com/HyNetwork/hysteria.git
[submodule "vendor/tun2socks"]
	path = vendor/tun2socks
	url = https://github.com/xjasonlyu/tun2socks.git
